.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-button {
  background-color: white;
  color: #2196F3;
  border: 2px solid #2196F3;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #2196F3;
    color: white;
  }
}
