body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem ;
    border-bottom: 2px solid rgb(172, 172, 172);
}

#liste_nav{

    display: flex;
    padding-right: 3rem;
    
    
}

#nomPrenom{
    padding-left: 3rem;
}

#liste_nav li{
    padding-left: 1rem;
}


#main{

    margin-left: 3rem;
    margin-right: 3rem;
}
#titreN1{
    padding-left: 3rem;
}

.itemListeCarte{

    border:1px solid black;
    border-radius: 5px;


}

.imageCarte{
    text-align: center;
    padding: 5rem;
    border-bottom:1px solid black;
}

.infoCarte{
    padding-left: 2rem;
}

#cartes{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 3;
    gap: 10px;
}

footer{
    display: flex;

    border-top: 2px solid rgb(172, 172, 172) ;
    justify-content: space-between;

}

#liens{
    display: flex;
    gap:20rem;
    padding-right: 20rem;
}

#boutonNav{
    display: none;
}

#logo{
    background-color: darkgrey;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#slogan{

    text-align: center;
}

@media screen and (width< 768px) {
    #navbar{
        flex-direction: column;
    }
    #liste_nav{

        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    #boutonNav{
        display: flex;
    }
    #liste_nav{
        display: none;
    }
    #nomPrenom{
        display: none;
    }

    #cartes {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        
    }

    #liens{
        display: flex;
        flex-direction: column;
        gap:0;
        padding-right: 0;
    }
}



@media screen and (width< 1200px) and (width > 768px) {
  

    #cartes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer{
        display: flex;
        flex-direction: row;
        text-align: center;
        
    }

    #liens{
        display: flex;
        flex-direction: row;
        gap: 0;
        padding-right: 20rem;
        flex-wrap: wrap;
    }


}