.page-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.page-controls button {
  background-color: #858585;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-controls button:hover {
  background-color: #434343;

}

.page-controls button:disabled {
  background-color: #d6d6d6;
}

.page-controls button.active {
  background-color: #212121;
}

.page-controls button:focus {
  outline: none;

}


.page-controls button:first-of-type,
.page-controls button:last-of-type {
  background-color: #6c757d;
}

.page-controls button:first-of-type:hover,
.page-controls button:last-of-type:hover {
  background-color: #5a6268;
}
