.container {
  height: 100%;
  width: 70%;
  margin-left: 15%;
  background: linear-gradient(to top, rgba(103, 195, 243, 1), rgba(90, 152, 242, 1));
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 10%;
}

.title {
  font-size: 35px;
}

.divider {
  width: 5%;
  border: 1px solid white;
}

@media screen and (width<= 600px) {
  .container {
    height: 100%;
    width: 90%;
    margin-left: 5%;

  }
  .title {
    font-size: 25px;
  }
  .divider {
    width: 10%;
  }

}
